:root {
  --color-ming: #41728C;
  --color-danube: #639CD8;
  --color-almost-spicy: #7C5B40;
  --color-spicy: #8C5B40;
  --color-offwhite: hsl(0,0%,79%);
  --color-white:hsl(0,0%,95%);
  --color-shakespeare:#63AFD8;
}

* {
  margin:0;
  padding:0;
}

html {
  scroll-behavior:smooth;
}

body {
  font-family:Futura,helvetica;
  font-weight:lighter;
  font-size:1.8rem;
  line-height:1.5;
  color: var(--color-white);
}

hr {
  border:1px solid;
  margin: auto 25% auto 25%;
}

#navbar {
  background-color: var(--color-spicy);
  display:flex;
  align-items:center;
  justify-content:center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  overflow:hidden;
  z-index:1;
}

.nav-link,.project-link {
  padding:15px;
  text-decoration:none;
  color: var(--color-white);
  font-size:20px;
  font-weight:lighter;
  font-family:helvetica,georgia,cambria;
}

.nav-link {
  transition: transform 0.25s;
}

.nav-link:hover {
  background-color: var(--color-almost-spicy);
  transform: scale(1.2);
}

#welcome-section {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  margin:auto;
  width:100%;
  background-color: var(--color-danube);
  color: var(--color-white);
}

h1 {
  font-size:4rem;
}
h2 {
  font-size:3rem;
}

@media (max-width:700px) {
  h1 {
    font-size:2rem;
  }
  h2 {
    font-size: 2rem;
  }
  hr {
    margin: auto 15% auto 15%;
  }
}

#projects-section {
  width:100%;
  margin:auto;
  text-align:center;
  background-color: var(--color-shakespeare);
}

#projects-section header h2, 
#contacts-section header h2 {
  padding-top:100px;
}

#projects {
  width:100%;
  margin:auto;
  padding:50px;
  box-sizing:border-box;
  
  max-width:1200px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap:30px;
}

.project-title {
  background-color:var(--color-ming);
  padding:10px;
}

.project-tile {
  border: 1px solid;
  padding:0;
  box-shadow: 15px 15px 5px rgba(0,0,0,0.4);
  transition: box-shadow 0.5s, transform 0.5s;
  transition-timing-function: ease-out;
  overflow: hidden;
}

.project-tile:hover {
  transform:scale(1.05);
  box-shadow: 10px 15px 10px rgba(0,0,0,0.4);
}

.project-img {
  display:block;
  width:100%;
  height:100%;
  object-fit:fill;
}

#contacts-section {
  width:100%;
  margin:auto;
  height:100vh;
  background-color: var(--color-danube);
  text-align:center;

}
